<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{profile.user.firstname}} {{profile.user.lastname}}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/index.css' %}">

    <body>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{% static 'js/materialize.js' %}"></script>
        <script src="{% static 'js/init.js' %}"></script>
        <div id="wrapper">
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="{%url 'user_profile:index' user_id=user.id%}">My Profile</a></li>
                <li><a href="{%url 'user_profile:edit_profile' user_id=user.id%}">Edit Profile</a></li>
                <li class="divider"></li>
                <li><a href="{%url 'login_register:logout'%}">Log Out</a></li>
            </ul>
            <nav>
                <div class="nav-wrapper">
                    <a href="{%url 'main:index'%}" class="brand-logo"><img style="height:25px;" src="{% static 'main/logo.png' %}" alt=""> Platos</a>
                    <ul class="right hide-on-med-and-down">
                        {% if user.userLevel %}
                        <li><a href="{% url 'admin:index'%}">ADMINISTRATION</a></li>
                        {% endif %}
                        <li><a href="">Message</a></li>
                        <li style="margin-right:10px;"><a href="{% url 'user_profile:view_times' %}">Schedule</a></li>
                        <!-- Dropdown Trigger -->
                        <li>{%for u in img%}
                            <img class="circle" style="height:5vh;margin-top:8px;" id='profile_pic' src="../../media/{{ u.avatar }}" />
                        </li>
                        {% endfor %}
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
                      Hello, {{user.firstname}} !<i class="material-icons right">arrow_drop_down</i>
                    </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div id="body">
                <div id="top-content">
                    {% if flag %}
                    <h1>Welcome back!</h1>
                    <h5 style="margin-left:40px;">{{profile.user.firstname}} {{profile.user.lastname}}<i class="small material-icons">location_on</i> {{profile.city}}, {{profile.state}}</h5>
                    <div style="margin-left:40px;" id="sub">
                        <div style="margin-right:40px;" class="filter">
                            <form action="{%url 'main:alter' %}" method="post">
                                {% csrf_token %}
                                <label>Set Maximum Distance</label>
                                <select name="distance" style="width:200px;" class="browser-default">
                          <option value="{{profile.distAway}}" >Maximum Distance</option>
                          <option value="5">5 Miles</option>
                          <option value="10">10 Miles</option>
                          <option value="25">25 Miles</option>
                          <option value="50">50 Miles</option>
                          <option value="100">100 Miles</option>
                          <option value="250">250 Miles</option>
                        </select>
                        </div>
                        <div class="filter">
                            <label>Interested In</label>
                            <select name="gender" style="width:200px;" class="browser-default">
                              <option value="{{genderpick}}">Gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                              <option value="whatever">Whatever</option>
                            </select>
                        </div>
                        <!-- <div class="filter">
                            <label>Interested Day?</label>
                            <select name="day" style="width:200px;" class="browser-default">
                      <option value="{{day}}">Day</option>
                      <option value="mon">Monday</option>
                      <option value="tue">Tuesday</option>
                      <option value="wed">Wednesday</option>
                      <option value="thu">Thursday</option>
                      <option value="fri">Friday</option>
                      <option value="sat">Saturday</option>
                      <option value="sun">Sunday</option>
                    </select> -->
                        <input style="margin-left:4vh;margin-top:2vh;height:5vh;width:20vh;"type="submit" name="submit" value="Set Preferences">
                        </form>
                        <!-- </div> -->
                    </div>
                </div>
                <div id="matches">
                    <table class="centered" class="striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Location</th>
                                <th>Distance</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for other_user in other_users%}
                            <tr>
                                <td><img style="height:10vh;" class="circle responsive-img" id='profile_pic' src="../../media/{{ other_user.image.avatar }}" /></td>
                                <td><a href="{%url 'user_profile:index' user_id=other_user.profile.user.id%}">{{other_user.profile.user.firstname}} {{other_user.profile.user.lastname}}</a></td>
                                <td>{{other_user.profile.city}}, {{other_user.profile.state}}</td>
                                <td>{{other_user.distance}} miles</td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div style="text-align:center;height:93vh;" class="top-head">
                    <br>
                    <br>
                    <br>
                    <img style="height:5vh;" src="{% static 'main/logo.png' %}" alt="">
                    <h1>Welcome to Platos, <b>{{user.firstname}}</b>!</h1>
                    <br>
                    <h3>Let's complete your profile.</h3>
                    <br>
                    <img src="{% static 'main/welcome.gif' %}" alt="">
                    <br>
                    <br>
                    <br>
                    <a href="{%url 'user_profile:edit_profile' user_id=user.id %}" class="waves-effect waves-light btn-large"><i class="material-icons right">visibility</i>edit profile</a>
                </div>
                {% endif %}
            </div>
        </div>
    </body>

</html>
