*.pyc
*.sqlite3
Platos/media/login_register/avatar/*.jpg
Platos/media/login_register/avatar/*.png
Platos/media/login_register/avatar/*.jpeg
Platos/media/login_register/avatar/*.gif
Platos/media/login_register/avatar/*.jpg
Platos/media/login_register/avatar/*.tiff
