<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{user.firstname}} {{user.lastname}}</title>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user_profile/index.css' %}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/materialize.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
    <div id="wrapper">
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{%url 'user_profile:index' user_id=user.id%}">My Profile</a></li>
            <li><a href="{%url 'user_profile:edit_profile' user_id=user.id%}">Edit Profile</a></li>
            <li class="divider"></li>
            <li><a href="{%url 'login_register:logout'%}">Log Out</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper">
                <a href="{%url 'main:index'%}" class="brand-logo"><img style="height:25px;" src="{% static 'main/logo.png' %}" alt=""> Platos</a>
                <ul class="right hide-on-med-and-down">
                    {% if user.userLevel %}
                    <li><a href="{% url 'admin:index'%}">ADMINISTRATION</a></li>
                    {% endif %}
                    <li><a href="">Message</a></li>
                    <li style="margin-right:10px;"><a href="{% url 'user_profile:view_times' %}">Schedule</a></li>
                    <!-- Dropdown Trigger -->
                    <li>{%for u in AU_img%}
                        <img class="circle" style="height:5vh;margin-top:8px;" id='profile_pic' src="../../media/{{ u.avatar }}" />
                    </li>
                    {% endfor %}
                    <li><a class="dropdown-button" href="#!" data-activates="dropdown1">
                  Hello, {{active_user.firstname}} !<i class="material-icons right">arrow_drop_down</i>
                </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="body">
            <div class="left-bar">
              {% for u in img%}
                <img id='profile_pic' src = "../../media/{{ u.avatar }}" />
              {% endfor %}
              <div class="left-bar-content">
                  {% if not user.id == active_user.id %}
                  <a style="width:100%;margin:1vh 0;" class="waves-effect waves-light btn"><i class="material-icons left">message</i>Message</a>
                  {% endif %}
                  <table>
                      <tr>
                          <th>Gender:</th>
                          <td>{{profile.gender}}</td>
                      </tr>
                      <tr>
                          <th>Birthday:</th>
                          <td>{{profile.birthday}}</td>
                      </tr>
                      <tr>
                          <th>Occupation:</th>
                          <td>{{profile.occupation}}</td>
                      </tr>
                      <tr>
                          <th>Company:</th>
                          <td>{{profile.company}}</td>
                      </tr>
                  </table>
              </div>
            </div>
            <div class="profile">
                <h2>{{user.firstname}} {{user.lastname}}</h2>
                <p><i class="tiny material-icons">location_on</i> {{profile.city}}, {{profile.state}}</p>
                <p id="divider"></p>
                <p><b>About Me</b></p>
                <br>
                <p class="aboutme">{{profile.about_me}}</p>
                <br>
                <p><b>Why I'm here</b></p>
                <br>
                <p class="aboutme">
                    It depends on the night someone to provide for you is probably a conspiracy I won't bite without permission. One time in middle school ultramarathons I don't really keep a budget I tend to be attracted to I will tell you stories forever, you will love it females I have an IQ of 140, which means blackjack is pretty awesome.
                </p>
                <br>
                <div class="interests">
                    <p class="interest"><b>Interests</b></p>
                    <div class="chip">Karaoke</div>
                    <div class="chip">Jogging</div>
                    <div class="chip">Dancing</div>
                    <div class="chip">Samurai</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
