*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*outline: 1px solid yellow;*/
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F2F2F2;
}

#header{
    padding: 0 12%;
}

#body, #footer{
    padding: 0 16%;
}

/*****HEADER*****/

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    background-color:  #15253B;
    color: white;
    box-shadow: inset 2px -5px 11px #344771;
}

#logo{
    display: flex;
    align-items: center;
    width: 100%;
}

#logo h1{
    font-size: 1.5em;
    margin-left: 1.5vh;
}

#header a{
    text-decoration: none;
    color: white;
}

#actions a:hover{
    color: #6E71A4;
}
