*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /*outline: 1px solid yellow;*/
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F2F2F2;
}

div.nav-wrapper{
    padding: 0 12%;
}

#body, #footer{
    padding: 0 16%;
}

/*****HEADER*****/

div.nav-wrapper{
    background-color:  #15253B;
    color: #15253B;
    box-shadow: inset 2px -5px 11px #344771;
}

div.nav-wrapper a:hover{
    color: #CFC3EB;
}

#logo{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    font-size: 1.5em;
    margin-left: 1.5vh;
}

/*****BODY*****/
td a{
    color: black;
}

td a:hover{
    color: #A020F0;
}

tbody tr:hover{
    background-color: #CFC3EB;
}

#matches{
    margin-top: 5vh;
}
